@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Kanit';
    src: local("Kanit-Regular")
    ,url(./assets/Kanit-Regular.ttf) format('truetype');
    }
@font-face {
    font-family: 'THZEMIT';
    src: local("THZEMIT")
    ,url(./assets/THZEMIT.ttf) format('truetype');
    }